/RA_data.airr.csv
/airr_filtered.csv
/airr_reads
/control_data.airr.csv
atchley_features.csv
filtered_airr_data.csv
/OGRDB_reads
feature_data.csv
v_transformed.csv
j_transformed.csv
sequence_feature_data.csv
