/.DS_Store
/OGRDB_reads
/training_testing_dataset
airr_reads/A0001_1.fastq
airr_reads/A0001_2.fastq
airr_reads/A0003_1.fastq
airr_reads/A0003_2.fastq
airr_reads/A0004_1.fastq
airr_reads/A0004_2.fastq
airr_reads/A0005_1.fastq
airr_reads/A0005_2.fastq
airr_reads/A0006_1.fastq
airr_reads/A0006_2.fastq
airr_reads/A0007_1.fastq
airr_reads/A0007_2.fastq
airr_reads/A0010_1.fastq
airr_reads/A0010_2.fastq
airr_reads/A0011_1.fastq
airr_reads/A0011_2.fastq
airr_reads/A0012_1.fastq
airr_reads/A0012_2.fastq
airr_reads/A0013_1.fastq
airr_reads/A0013_2.fastq
airr_reads/A0014_1.fastq
airr_reads/A0014_2.fastq
airr_reads/A0015_1.fastq
airr_reads/A0015_2.fastq
airr_reads/A0016_1.fastq
airr_reads/A0016_2.fastq
airr_reads/A0025_1.fastq
airr_reads/A0025_2.fastq
airr_reads/B1168_1.fastq
airr_reads/B1168_2.fastq
airr_reads/B1392_1.fastq
airr_reads/B1392_2.fastq
airr_reads/B1413_1.fastq
airr_reads/B1413_2.fastq
airr_reads/B1639_1.fastq
airr_reads/B1639_2.fastq
airr_reads/B1640_1.fastq
airr_reads/B1640_2.fastq
airr_reads/B3179_1.fastq
airr_reads/B3179_2.fastq
airr_reads/B4077_1.fastq
airr_reads/B4077_2.fastq
airr_reads/B6844_1.fastq
airr_reads/B6844_2.fastq
airr_reads/B8181_1.fastq
airr_reads/B8181_2.fastq
airr_reads/B8630_1.fastq
airr_reads/B8630_2.fastq
airr_reads/C0017_1.fastq
airr_reads/C0017_2.fastq
airr_reads/C0018_1.fastq
airr_reads/C0018_2.fastq
airr_reads/C0019_1.fastq
airr_reads/C0019_2.fastq
airr_reads/C0020_1.fastq
airr_reads/C0020_2.fastq
airr_reads/C0021_1.fastq
airr_reads/C0021_2.fastq
airr_reads/C0022_1.fastq
airr_reads/C0022_2.fastq
airr_reads/presto_output/A0001_assemble-pass.fastq
airr_reads/presto_output/A0001_collapse-unique.fasta
airr_reads/presto_output/A0001_primers-pass.fastq
airr_reads/presto_output/A0001_quality-pass.fastq
airr_reads/presto_output/A0003_assemble-pass.fastq
airr_reads/presto_output/A0003_collapse-unique.fasta
airr_reads/presto_output/A0003_primers-pass.fastq
airr_reads/presto_output/A0003_quality-pass.fastq
airr_reads/presto_output/A0004_assemble-pass.fastq
airr_reads/presto_output/A0004_collapse-unique.fasta
airr_reads/presto_output/A0004_primers-pass.fastq
airr_reads/presto_output/A0004_quality-pass.fastq
airr_reads/presto_output/A0005_assemble-pass.fastq
airr_reads/presto_output/A0005_collapse-unique.fasta
airr_reads/presto_output/A0005_primers-pass.fastq
airr_reads/presto_output/A0005_quality-pass.fastq
airr_reads/presto_output/A0006_assemble-pass.fastq
airr_reads/presto_output/A0006_collapse-unique.fasta
airr_reads/presto_output/A0006_primers-pass.fastq
airr_reads/presto_output/A0006_quality-pass.fastq
airr_reads/presto_output/A0007_assemble-pass.fastq
airr_reads/presto_output/A0007_collapse-unique.fasta
airr_reads/presto_output/A0007_primers-pass.fastq
airr_reads/presto_output/A0007_quality-pass.fastq
airr_reads/presto_output/A0010_assemble-pass.fastq
airr_reads/presto_output/A0010_collapse-unique.fasta
airr_reads/presto_output/A0010_primers-pass.fastq
airr_reads/presto_output/A0010_quality-pass.fastq
airr_reads/presto_output/A0011_assemble-pass.fastq
airr_reads/presto_output/A0011_collapse-unique.fasta
airr_reads/presto_output/A0011_primers-pass.fastq
airr_reads/presto_output/A0011_quality-pass.fastq
airr_reads/presto_output/A0012_assemble-pass.fastq
airr_reads/presto_output/A0012_collapse-unique.fasta
airr_reads/presto_output/A0012_primers-pass.fastq
airr_reads/presto_output/A0012_quality-pass.fastq
airr_reads/presto_output/A0013_assemble-pass.fastq
airr_reads/presto_output/A0013_collapse-unique.fasta
airr_reads/presto_output/A0013_primers-pass.fastq
airr_reads/presto_output/A0013_quality-pass.fastq
airr_reads/presto_output/A0014_assemble-pass.fastq
airr_reads/presto_output/A0014_collapse-unique.fasta
airr_reads/presto_output/A0014_primers-pass.fastq
airr_reads/presto_output/A0014_quality-pass.fastq
airr_reads/presto_output/A0015_assemble-pass.fastq
airr_reads/presto_output/A0015_collapse-unique.fasta
airr_reads/presto_output/A0015_primers-pass.fastq
airr_reads/presto_output/A0015_quality-pass.fastq
airr_reads/presto_output/A0016_assemble-pass.fastq
airr_reads/presto_output/A0016_collapse-unique.fasta
airr_reads/presto_output/A0016_primers-pass.fastq
airr_reads/presto_output/A0016_quality-pass.fastq
airr_reads/presto_output/A0025_assemble-pass.fastq
airr_reads/presto_output/A0025_collapse-unique.fasta
airr_reads/presto_output/A0025_primers-pass.fastq
airr_reads/presto_output/A0025_quality-pass.fastq
airr_reads/presto_output/B1168_assemble-pass.fastq
airr_reads/presto_output/B1168_collapse-unique.fasta
airr_reads/presto_output/B1168_primers-pass.fastq
airr_reads/presto_output/B1168_quality-pass.fastq
airr_reads/presto_output/B1392_assemble-pass.fastq
airr_reads/presto_output/B1392_collapse-unique.fasta
airr_reads/presto_output/B1392_primers-pass.fastq
airr_reads/presto_output/B1392_quality-pass.fastq
airr_reads/presto_output/B1413_assemble-pass.fastq
airr_reads/presto_output/B1413_collapse-unique.fasta
airr_reads/presto_output/B1413_primers-pass.fastq
airr_reads/presto_output/B1413_quality-pass.fastq
airr_reads/presto_output/B1639_assemble-pass.fastq
airr_reads/presto_output/B1639_collapse-unique.fasta
airr_reads/presto_output/B1639_primers-pass.fastq
airr_reads/presto_output/B1639_quality-pass.fastq
airr_reads/presto_output/B1640_assemble-pass.fastq
airr_reads/presto_output/B1640_collapse-unique.fasta
airr_reads/presto_output/B1640_primers-pass.fastq
airr_reads/presto_output/B1640_quality-pass.fastq
airr_reads/presto_output/B3179_assemble-pass.fastq
airr_reads/presto_output/B3179_collapse-unique.fasta
airr_reads/presto_output/B3179_primers-pass.fastq
airr_reads/presto_output/B3179_quality-pass.fastq
airr_reads/presto_output/B4077_assemble-pass.fastq
airr_reads/presto_output/B4077_collapse-unique.fasta
airr_reads/presto_output/B4077_primers-pass.fastq
airr_reads/presto_output/B4077_quality-pass.fastq
airr_reads/presto_output/B6844_assemble-pass.fastq
airr_reads/presto_output/B6844_collapse-unique.fasta
airr_reads/presto_output/B6844_primers-pass.fastq
airr_reads/presto_output/B6844_quality-pass.fastq
airr_reads/presto_output/B8181_assemble-pass.fastq
airr_reads/presto_output/B8181_collapse-unique.fasta
airr_reads/presto_output/B8181_primers-pass.fastq
airr_reads/presto_output/B8181_quality-pass.fastq
airr_reads/presto_output/B8630_assemble-pass.fastq
airr_reads/presto_output/B8630_collapse-unique.fasta
airr_reads/presto_output/B8630_primers-pass.fastq
airr_reads/presto_output/B8630_quality-pass.fastq
airr_reads/presto_output/C0017_assemble-pass.fastq
airr_reads/presto_output/C0017_collapse-unique.fasta
airr_reads/presto_output/C0017_primers-pass.fastq
airr_reads/presto_output/C0017_quality-pass.fastq
airr_reads/presto_output/C0018_assemble-pass.fastq
airr_reads/presto_output/C0018_collapse-unique.fasta
airr_reads/presto_output/C0018_primers-pass.fastq
airr_reads/presto_output/C0018_quality-pass.fastq
airr_reads/presto_output/C0019_assemble-pass.fastq
airr_reads/presto_output/C0019_collapse-unique.fasta
airr_reads/presto_output/C0019_primers-pass.fastq
airr_reads/presto_output/C0019_quality-pass.fastq
airr_reads/presto_output/C0020_assemble-pass.fastq
airr_reads/presto_output/C0020_collapse-unique.fasta
airr_reads/presto_output/C0020_primers-pass.fastq
airr_reads/presto_output/C0020_quality-pass.fastq
airr_reads/presto_output/C0021_assemble-pass.fastq
airr_reads/presto_output/C0021_collapse-unique.fasta
airr_reads/presto_output/C0021_primers-pass.fastq
airr_reads/presto_output/C0021_quality-pass.fastq
airr_reads/presto_output/C0022_assemble-pass.fastq
airr_reads/presto_output/C0022_collapse-unique.fasta
airr_reads/presto_output/C0022_primers-pass.fastq
airr_reads/presto_output/C0022_quality-pass.fastq
exploratory_and_data_cleaning/control_data.airr.csv
exploratory_and_data_cleaning/filtered_airr_data.csv
exploratory_and_data_cleaning/RA_data.airr.csv
exploratory_and_data_cleaning/j_transformed.csv
exploratory_and_data_cleaning/sequence_feature_data.csv
exploratory_and_data_cleaning/v_transformed.csv
model_training/confusion_matrix_bar.png
model_training/logistic_regression/logistic_training_loss.png
model_training/MLP_sigmoid/MLP_box_plot.png
model_training/MLP_sigmoid/MLP_loss_curve.png
SHAP_analysis/shap_dependence_cdr3_length_inverse.png
SHAP_analysis/shap_dependence_Factor_I_inverse.png
SHAP_analysis/shap_dependence_Factor_II_inverse.png
SHAP_analysis/shap_dependence_Factor_III_inverse.png
SHAP_analysis/shap_dependence_Factor_IV_inverse.png
SHAP_analysis/shap_dependence_Factor_V_inverse.png
SHAP_analysis/shap_dependence_hypermutation_rate_inverse.png
SHAP_analysis/shap_dependence_IGHV3-53_inverse.png
SHAP_analysis/shap_dependence_np1_length_inverse.png
SHAP_analysis/shap_dependence_np2_length_inverse.png
SHAP_analysis/shap_summary_plot_inverse.png
model_training/logistic_regression/logistic_training_loss.png
model_training/MLP_sigmoid/MLP_loss_curve.png
model_training/logistic_regression/logistic_training_loss.png
model_training/MLP_sigmoid/MLP_loss_curve.png
.ipynb_checkpoints
reads_processing_pipeline
